body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f3f4f6;
}

.register-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #4b6cb7, #182848);
}

.register-box {
  width: 400px;
  padding: 40px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
}

.register-box h2 {
  color: #182848;
  font-weight: bold;
  margin-bottom: 25px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="date"],
.input-container input[type="tel"],
.nationality-group select {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.input-container input:focus,
.nationality-group select:focus {
  border-color: #182848;
}

.gender-group {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.gender-group label {
  color: #182848;
  font-weight: bold;
}

.submit-button {
  background-color: #182848;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #4b6cb7;
}

@media (max-width: 500px) {
  .register-box {
      width: 90%;
      padding: 30px;
  }

  .gender-group {
      flex-direction: column;
      align-items: flex-start;
  }
}
